{% extends "BourseBundle:layout:layout.html.twig" %}

{% block title %} {{ parent() }} rechercher {% endblock %}


{% block lateral %}{{ parent }}

{% endblock %}

{% block content %}{{ parent }}
<br><br><br>
resultats de la recherche : <br><br>
<table border="1"><tr>

{% for liste in entreprises %}

	<td>{{ liste.company }}</td><td> <a href={{ path('bourse_entreprise') }} /> En savoir plus ... </a> </td>

{% endfor %}

{% endblock %}
