{% extends "BourseBundle:layout:layout.html.twig" %}

{% block title %} {{ parent() }} rechercher {% endblock %}


{% block lateral %}{{ parent }}

{% endblock %}

{% block content %}{{ parent }}

<p id="p1"> Resultats de la recherche<br><br> </p>
<table border="1" id="tablerecherche">

{% for liste in entreprises %}

	<tr>
        <td id="lol">{{ liste.company }}</td>
        <td id="lol">{{ liste.pays }}</td>
        <td> <img id="info" src={{ asset('images/info.png') }}>&nbsp; <a id="info2" href={{ path('bourse_entreprise', {'ticker':liste.ticker}) }} /> En savoir plus ... </a> </td>
        <td>
            {% if liste['favoris']==true %}
                 <img id="info" src={{ asset('images/suppr.png') }}>&nbsp;<a id="suppr" href= > Retirer des favoris </a>
            {% else %}
                 <img id="info" src={{ asset('images/fav.png') }}>&nbsp;<a id="add" href= > Ajouter aux favoris </a>
            {% endif %}
        </td>
    </tr>

{% endfor %}
</table>
{% endblock %}
