<html lang=fr>
<head>
    <title> {% block title %}
            boursiquote :
        {% endblock %}
    </title>
    <meta http-equiv="Content-Language" content="fr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% stylesheets '@BourseBundle/Resources/public/css/cssGeneral.css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
</head>

<script>
    function R1600()
    {
        var width = 1600;
        document.body.style.zoom = screen.width/1600;
    }
</script>

<body onload="R1600();">

<div id="bandeau">
    <!-- Images En-tête -->
    <!--<img src="images/menuGauche.gif"	alt="Choisir" title="Choisir"/>-->
    <img id="banniere" src={{ asset('images/banniere.png') }} alt="Lentete" title="entetebourseimg"/>
    <form method=post action={{ path('bourse_deconnexion') }}> <input id="bt-deco" type='submit' value="Se déconnecter" name='Bt-deco'/></form>
</div>

<!--  Menu haut-->
<ul id="menu">
    <li><a href={{ path('bourse_tableau') }}> Tableau de bord </a></li>       {# les liens sont a remettre via le routing #}
    <li><a href={#  {{ path('analyse') }}       #}> Analyse du marché</a></li>
    <li><a href={#  {{ path('gerertableau') }}  #}> Gerer tableau de bord</a></li>
</ul>
<form method="POST" action={{ path('bourse_recherche') }}>
<div id="recherche">
    Recherche : <input type="text" name="recherche"> <input type='submit' value="OK" name='OK' />
  </div>
</form>


<div id="menu lateral">
    {% block lateral %}
    {% endblock %}
</div>


<div id="conteneur">
    {% block content %}
    {% endblock %}
</div>




<br>
<div id="pied"> Copyright _ BourSIQoute _ 2016 </br> <div id="cred"> powered by symfony 2</div>  </div>
</body>

</html>