{% extends "BourseBundle:layout:layout.html.twig" %}

{% block title %} {{ parent() }} Tableau de bord {% endblock %}


{% block lateral %}{{ parent }}



{% endblock %}



{% block content %}{{ parent }}
    {% set i=1 %}
    {% if i==5 %}

    {% else %}

    {% endif %}
    <div id="conteneur">
    <p id="p1"> Mes valeurs favorites </p>
<table id="graphiques">

    {% for fav in favoris %}
    <tr>
        <td>


        <p> {{ fav.company }} </p>

        <img id="g" src={{ asset('images/graph/graph.php?ent='~fav.ticker~'&&t='~fav.company ) }} />
        <a href="">En savoir plus...</a>
        </td>
     </tr>
    {% endfor %}


</table>

    </div>

{% endblock %}